.side {
  width: 400px;
  margin: 10px;
}
button {
  margin-left: 10px;
}
.container {
  display: flex;
  height: 90vh;
}

.places-list {
  border: solid 1px black;
  list-style: none;
}
.place-vicinity {
  font-size: 14px;
}
ul {
  padding-left: 0;
}
li {
  list-style: none;
}
h4 {
  margin-left: 5px;
}
.places-list:hover {
  cursor: pointer;
  background: lightgrey;
}

mat-form-field.input {
  width: 100%;
}

.select-time {
  width: 50%;
  margin-left: 10%;
}

.avail-list {
  display: flex;
}

.add-ride {
  height: 40px;
  margin: auto;
}

.joined-rides {
  margin-top: 3%;
}

.place-list:hover {
  background: rgba(0,0,0,.04);
  cursor: pointer;
}

::ng-deep .place-list > .mat-list-item-content {
  display: block;
}