<div class="container">
  <mat-tab-group>
    <mat-tab label="Create Ride">
      <mat-list class="side">
        <mat-list-item> 
            <mat-form-field class="input">
              <input matInput placeholder="Start Location..."  [(ngModel)]="startObj.address" />
            </mat-form-field>
            <button mat-mini-fab (click)="getStartPlaces(startObj.address)" ><mat-icon>search</mat-icon></button>
          </mat-list-item>
          <mat-list-item *ngIf="startObj.lat">
              <mat-form-field class="input">
                <input matInput placeholder="Set Destination..." [(ngModel)]="finishObj.address" />
              </mat-form-field>
              <button mat-mini-fab (click)="getFinishPlaces(finishObj.address)" ><mat-icon>search</mat-icon></button>
          </mat-list-item>
          <mat-list-item *ngIf="startObj.lat && finishObj.lat">
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>         
          </mat-list-item>
          <mat-list-item *ngIf="startObj.lat && finishObj.lat && date">
            <mat-label>Select Time: </mat-label>
            <mat-select class="select-time"[(ngModel)]="time">
              <mat-option *ngFor="let time of timeArray" [value]="time.view">
                {{time.view}}
              </mat-option>
            </mat-select>
          </mat-list-item>
          <mat-list-item *ngIf="startObj.lat && finishObj.lat && date && time">
            <button mat-raised-button color="primary" (click)="saveRoute()">Save Route</button>
          </mat-list-item>
    
          <ul>
            <li class="places-list" *ngFor="let place of startPlaces" (click)="setStartPlace(place)">
              <div class="place-title">{{place.title}}</div>
              <div class="place-vicinity" [innerHTML]="place.vicinity"></div>
            </li>
          </ul>
          <ul>
            <li class="places-list" *ngFor="let place of finishPlaces" (click)="setFinishPlace(place)">
              <div class="place-title">{{place.title}}</div>
              <div class="place-vicinity" [innerHTML]="place.vicinity"></div>
            </li>
          </ul>
          <ul *ngIf="userCreatedRides.length">
            <li>My Rides</li>
            <li class="places-list" *ngFor="let ride of userCreatedRides" (click)="selectRide(ride)">
              <div class="place-title">Date: {{ride.date}}</div>
              <div class="place-title">Time: {{ride.time}}</div>
              <div class="place-title">Start: {{ride.startObj.address}}</div>
              <div class="place-title">Finish: {{ride.finishObj.address}}</div>
              <div class="place-title">Passengers: {{ride.passengerIds.length}}</div>
            </li>
          </ul>
          <!-- <ol *ngIf="directions.length">
            <p>Directions</p>
            <li *ngFor="let direction of directions">
                <p [innerHTML]="direction.instruction"></p>
            </li>
          </ol> -->
      </mat-list>
    </mat-tab>
    <mat-tab label="Find Ride">
      <mat-list class="side">
        <ul *ngIf="availableRides.length">
            <li>Available Rides</li>
            <li  class="avail-list" *ngFor="let ride of availableRides" >
              <div class="places-list" (click)="selectRide(ride)">
                <div class="place-title">Date: {{ride.date}}</div>
                <div class="place-title">Time: {{ride.time}}</div>
                <div class="place-title">Start: {{ride.startObj.address}}</div>
                <div class="place-title">Finish: {{ride.finishObj.address}}</div>
                <div class="place-title">Passengers: {{ride.passengerIds.length}}</div>
              </div>
              <button class="add-ride" mat-raised-button color="primary" disabled="checkPassenger(ride)" (click)="joinRide(ride)">Join</button>
            </li>
          </ul>
      </mat-list>
    </mat-tab>
  </mat-tab-group>
  <div #map style="width: 1000px; height: 768px"></div> 
</div>
