.side {
  width: 400px;
  margin: 10px;
}
button {
  margin-left: 10px;
}
.container {
  display: flex;
}

.places-list {
  border: solid 1px black;
  list-style: none;
}

li {
  list-style: none;
}

.places-list:hover {
  cursor: pointer;
  background: lightgrey;
}

mat-form-field.input {
  width: 100%;
}

.select-time {
  width: 50%;
  margin-left: 10%;
}