<div class="container">
    <mat-tab-group>
      <mat-tab label="Share Car">
        <mat-list class="side">
          <mat-list-item> 
              Test Share Item
          </mat-list-item>
        </mat-list>
      </mat-tab>
      <mat-tab label="Find Car">
        <mat-list class="side">
          <mat-list-item> 
              Test Find Item
          </mat-list-item>
        </mat-list>
      </mat-tab>
    </mat-tab-group>
  <div #map style="width: 1000px; height: 600px; margin-top: 20px"></div> 
</div>
